.order{
    padding: 40px;
    margin: 20px 0;
    position: relative;
    background-color: white;
    border: 1px soild lightgray;
}

.order__id{
    position: absolute;
    top:40px; 
    right:20px;
}

.order__total{
    font-weight: 400;
    text-align: right;
}